@mixin scrollbar($width:2px) {
    ::-webkit-scrollbar {
        width: $width;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: $primary;
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background: $primary;
    }
}
