<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- apple -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="yes" name="apple-touch-fullscreen" />
  <meta content="telephone=no,email=no" name="format-detection" />
  <title>{{meta.title}}</title>
  <link rel="stylesheet" href="../assets/css/weixin.css">
  <style>
  </style>
</head>

<body>
  <div class="container">
    <!-- header -->
    <p class="top-focus img-wrapper">
      <!-- <img src="http://qiniu.adebibi.com/640.gif" /> -->
      <img src="https://cdn.nlark.com/yuque/0/2018/gif/92616/1545621685909-assets/web-upload/10813277-d10e-4243-95f5-430e9303182f.gif" />
    </p>

    <hr>

    <!-- body -->
    <div class="body">
      {{content}}
    </div>

    <!-- end -->
    <p class="end">
      <span>- END -</span>
    </p>

    <!-- footer -->
    <p class="author-info">这个世界上本就没有必须存在的事实，去发现真正属于你的事实，不是其他人对你人生的思考，用自己的理解去编织属于你自己的全新世界，赠予那些此时此刻稳步前进的筑梦者。</p>

    <!-- <p class="img-wrapper">
      <a class="weapp_image_link" data-miniprogram-appid="wx67d7e6edded0a336" data-miniprogram-path="pages/home/index"
        data-miniprogram-nickname="取艺" href="javascript:void(0);">
        <img class="img-radius" src={{meta.url}} />
      </a>
    </p> -->

    <!-- bottom-focus -->
    <div class="bottom-focus">
      <p>
        王安安<br>
        要活成自己想要的那个样子哦<br>
      </p>
    </div>
  </div>
</body>

</html>
